* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.header-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  /* background-color: green; */
  background-color: #313131;
  position: sticky;
  top: 0px;
}

header .nav-bar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
}

header nav .logo {
  flex-grow: 1;
  margin: 10px 0px 10px 20px;
}

header nav .link ul {
  display: flex;
}

header nav .link ul li {
  list-style: none;
  margin: 10px 20px 10px 0px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: lightgreen;
}

.about {
  background-color: lightcoral;
}

.contact {
  background-color: lightblue;
}

.blog {
  background-color: lightgray;
}
