* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-section {
  height: 100vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  background-color: rgba(128, 128, 128, 0.418);
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
  transition: all 0.3s ease;
}
button:hover {
  transform: scale(1.05);
}

/* Slider */
.slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.9;
  transition: all 0.5s ease;
}

.sliderToRight {
  right: 100vw;
}
.sliderToDown {
  bottom: 100vh;
}

i {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 48px;
  color: white;
}
ul{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


ul li {
  list-style: none;
  padding: 10px;
}
ul li a {
  text-decoration: none;
  font-size: 48px;
  color: white;
}
ul li a:hover{
  border-bottom: 2px solid white;
}