* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100vw;
  /* margin: 0 2em; */
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border: 0.25em solid white;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(38, 38, 38);
}
header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  max-width: 800px;
  background-color: black;
}
nav ul {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;
  overflow-y: hidden;
}
nav ul li {
  list-style: none;
  padding: 0.5em;
  border-radius: 100vw;
}
nav ul li:hover {
  background-color: rgb(38, 38, 38);
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 1em;
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  nav {
    max-width: 600px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    max-width: 400px;
  }
}
@media screen and (max-width: 576px) {
  nav {
    max-width: 300px;
  }
}
@media screen and (max-width: 400px) {
  nav {
    max-width: 200px;
  }
}
