@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.primary-color {
  color: rgba(86, 105, 255, 1);
}
.secondary-color {
  color: rgba(101, 97, 97, 1);
}
.bg-primary {
  background-color: rgba(86, 105, 255, 1);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

header {
}
nav {
  display: flex;
  height: 92px;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 1);
}

nav .logo {
  width: 101px;
  min-width: 101px;
  height: 62px;
  margin: 20px 40px 20px 0;
}
nav .logo img {
  width: 100%;
  height: 100%;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}
nav ul li {
  list-style: none;
  padding: 10px 40px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(101, 97, 97, 1);
  font-weight: 500;
}
nav .demo {
  margin: 20px 0px 20px 40px;
}
nav .demo button {
  width: 84px;
  padding: 4px;
  border-radius: 10px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background: rgba(86, 105, 255, 1);
  border: 1px solid rgba(86, 105, 255, 1);
}

/* hero section start  */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 800px;
}
.hero-section .text-container {
  flex: 50%;
  width: 50%;
}
.hero-section .text-container h2 {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero-section .text-container p {
  margin-bottom: 20px;
}
.hero-email-div {
  width: 405px;
  height: 56px;
  position: relative;
}
.hero-email-div input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid gray;
  border-radius: 10px;
  padding-left: 10px;
}
.hero-email-div img {
  display: block;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
.hero-section .img-container {
  flex: 50%;
  width: 50%;
  height: 100%;
  position: relative;
}
.welcome-img {
  position: absolute;
  z-index: 1;
}
.vitamin-img {
  position: absolute;
  right: 1%;
}

/* hero section end  */

@media only screen and (max-width: 992px) {
  header {
    padding: 0 20px;
  }
  nav .demo {
    display: none;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-section .text-container {
    flex: 100%;
    width: 100%;
  }
  .hero-section .img-container {
    flex: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    justify-content: center;
  }
  nav .logo {
    display: none;
  }

  .hero-section {
    height: 500px;
  }
  .hero-section .hero-email-div {
    width: 300px;
  }
  .text-container {
    padding: 0 40px;
  }

  .img-container {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  nav .logo {
    display: none;
  }
  nav ul {
    flex-direction: column;
  }
}
